astroid==2.3.3
audioread==2.1.8
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
docutils==0.16
dollarpy==0.1.1
essentia==2.1b6.dev184
future==0.18.2
idna==2.9
isort==4.3.21
joblib==0.14.1
Kivy==1.11.1
Kivy-Garden==0.1.4
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
librosa==0.7.2
llvmlite==0.31.0
matplotlib==3.2.1
mccabe==0.6.1
numba==0.48.0
numpy==1.18.2
PyAudio==0.2.11
pycparser==2.20
pyFluidSynth==1.2.5
Pygments==2.6.1
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.23.0
resampy==0.2.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
SoundFile==0.10.3.post1
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.11.2
